name: Deploy Docker a Elastic Beanstalk

on:
  push:
    branches: [ "main" ]

permissions:
    contents: read
    packages: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'
      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Lowercase Image Name
        run: |
         echo "IMAGE_NAME=$(echo ghcr.io/${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
          
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_NAME }}:${{ github.run_number }}

      - name: Generate docker-compose.yml
        run: |
         echo "services:
          app:
          image: ${{ env.IMAGE_NAME }}:${{ github.run_number }}
          ports:
           - '80:8080'
          environment:
          - SPRING_DATASOURCE_URL
          - SPRING_DATASOURCE_USERNAME
          - SPRING_DATASOURCE_PASSWORD
          restart: always" > docker-compose.yml
          

      - name: Deploy to Elastic Beanstalk
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_session_token: ${{ secrets.AWS_SESSION_TOKEN }}
          region: us-east-1
          application_name: HogwartsAPI # Tu nombre de App
          environment_name: HogwartsAPI-env # Tu nombre de Entorno
          version_label: "hogwarts-v-${{ github.run_number }}"
          deployment_package: Dockerfile
